:root {
    --window-padding: 1rem;
    --content-width: 32rem;
}

html {
    height: 100%;
    font-size: 16px;
    background-image: url("/assets/background.jpg");
    background-size: cover;
}

body {
    min-height: calc(100% - var(--window-padding) - var(--window-padding) - 2px);
    margin: var(--window-padding);
}

a, button {
    cursor: pointer;
}

p {
    margin-block-end: .5em;
    line-height: 1.2;
}

body h2 {
    color: var(--primary-color);
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 0;
    flex-basis: var(--content-width);
}

body.window {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

header.title-bar {
    --title-bar-scale: 1.33;
    padding: calc(var(--window-spacing) * var(--title-bar-scale));
    padding-top: 0;
}

header.title-bar h1.title-bar-text {
    font-size: var(--title-bar-scale)rem;
    margin: 0;
    font-weight: normal;
    padding-top: calc(var(--window-spacing) * var(--title-bar-scale));
}

main.window-body {
    flex-grow: 1;
    padding: var(--window-padding);
}

main > p {
    max-width: var(--content-width);
    margin: auto;
}


.status-bar-field {
    text-align: center;
}

.status-bar-field:first-child {
    text-align: start;
}

.status-bar-field:last-child {
    text-align: end;
}

section {
    max-width: var(--content-width);
    margin: var(--window-padding) auto;
}


.service {
    margin: var(--window-padding) 0;
    background: #fff;
    border: 1px solid var(--button-border-color);
    padding: 1rem;
    flex-basis: calc((var(--content-width) /2) - (var(--window-padding) * 3));
    flex-grow: 1;
    flex-shrink: 1;
}

.service h3 {
    color: var(--primary-color);
    font-weight: lighter;
    font-size: 1rem;
    margin: 0;
    position: relative;
}

.service h3:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: -moz-available;
    width: -webkit-fill-available;
    margin-left: 1em;
    height: 1px;
    top: calc(.5em - 1px);
    background-color: var(--primary-color);
}

.service button {
    margin-top: var(--window-padding);
    width: 100%;
}

.service img {
    margin-top: var(--window-padding);
    border: 1px solid var(--button-border-color);;
    width: 100%;
}

.donation p.kofi {
    text-align: center;
}

.donation .kofi img {
    height: 2.25rem;
    margin: auto;
}